@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

body {
  background-color: #FFFFFF;
  color: #202025;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 33px;
    padding-right: 33px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section-header {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
}

.header__container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.nav-menu {
  float: right;
  position: relative;
  display: inline-block;
}

.nav-menu__link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #202025;
}

.dropbtn {
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-menu__item {
  width: 210px;
}

.dropdown-menu__link {
  color: black;
  padding: 12px 35px 12px 12px;
  display: block;
}

.dropdown-menu__item:hover {
  background-color: #fd5103;
}

.dropdown-menu__item:hover .dropdown-menu__link {
  color: #ffffff;
}

.dropdown-menu {
  display: none;
  position: absolute;
  border: 1px solid #fd5103;
  background-color: #ffffff;
  border-radius: 4px;
  min-width: 160px;
  overflow: auto;
  left: 118px;
  z-index: 1;
}

.show {
  display: block;
}

.nav-menu__items {
  display: flex;
  justify-content: flex-end;
}

.nav-menu__items > li:not(:last-child) {
  margin-right: 60px;
}

.nav-menu__item {
  padding-top: 39px;
}

.header-section__box {
  display: none;
  display: flex;
  align-items: center;
}

.form__input {
  position: relative;
  width: 288px;
  height: 40px;
  border: 1px solid #fd5103;
  border-radius: 4px;
  padding: 8px 0 8px 48px;
  outline: none;
}
.form__input::before {
  content: "";
  position: absolute;
  display: block;
  top: 5px;
  width: 20px;
  height: 10px;
  background-color: #fd5103;
}
.form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  color: #5f6775;
  opacity: 0.4;
}
.form__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  color: #5f6775;
  opacity: 0.4;
}
.form__input:focus-visible {
  border: 1px solid #fd5103;
}

.change-color__block {
  display: flex;
  position: relative;
}

.switch {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;
  /* Inside auto layout */
  flex: none;
  flex-grow: 0;
  margin-left: 12px;
  margin-right: 12px;
}

.switch__input {
  width: 0;
  height: 0;
  opacity: 0;
}

.slider__round {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 20px;
  /* Grapefruit */
  border: 0.604701px solid #fd5103;
}

.slider__round::before {
  content: "";
  position: absolute;
  cursor: pointer;
  top: 1px;
  bottom: 0;
  left: 1px;
  right: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fd5103;
}

.switch__input:checked + .slider__round {
  background: #fd5103;
  border-radius: 20px;
  /* Grapefruit */
  border: 0.604701px solid #ffffff;
}

.switch__input:checked + .slider__round::before {
  background-color: #ffffff;
  transform: translateX(20px);
}

.search-form {
  position: relative;
}

.svg-icon__search {
  position: absolute;
  top: 13px;
  left: 8px;
  fill: #FD5103;
}

.hero__section {
  padding-top: 60px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.hero__text {
  font-family: Poppins;
  margin-top: 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.9;
  color: #FD5103;
  margin-bottom: 60px;
}

.select__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select__text-mob {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.02em;
  color: #000000;
  opacity: 0.8;
}

.select__button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 93px;
  height: 34px;
  color: #FD5103;
  border: 1px solid #FD5103;
  border-radius: 4px;
  padding-top: 5px;
  padding-right: 8px;
  padding-bottom: 5px;
  padding-left: 10px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.38;
}

.select__icon {
  fill: #FD5103;
}

.select__button:hover,
.select__button:focus {
  color: #fcfcfc;
  background-color: #FD5103;
}

.select__button:hover .select__icon,
.select__button:focus .select__icon {
  fill: #fcfcfc;
}

.select__letter {
  font-family: Poppins;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.35;
}

.select__list {
  display: none;
  box-sizing: border-box;
  overflow: auto;
  list-style: none;
  margin: 0;
  padding-left: 0;
  width: 93px;
  height: 84px;
  border: 1px solid #FD5103;
  border-radius: 4px;
}

.select__item {
  font-family: Poppins;
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  padding-left: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.02em;
  color: #5f6775;
}

.select__list-open {
  display: block;
}

.alphabet__button {
  border: none;
  background-color: transparent;
  width: 24px;
  height: 25px;
  padding: 0;
  cursor: pointer;
  font-family: Poppins;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: #5f6775;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1), text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.alphabet__button:hover,
.alphabet__button:focus {
  color: #FD5103;
  scale: 1.2;
  text-shadow: 0px 4px 4px rgba(95, 103, 117, 0.25);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #5f6775;
}

.alphabet__text {
  display: block;
  margin-bottom: 40px;
  margin-top: 0;
  color: #202025;
  opacity: 0.8;
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
}

.alphabet__list {
  width: 324px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 480px) {
  .hero__section {
    width: 480px;
  }
}
@media screen and (max-width: 767px) {
  .alphabet__wrapper {
    display: none;
  }
  .hero__image {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .hero__section {
    width: 768px;
    padding-top: 77px;
    padding-bottom: 120px;
  }
  .select__wrapper {
    display: none;
  }
  .hero__container {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
  }
  .hero__text {
    width: 336px;
    font-weight: 600;
    font-size: 26px;
    line-height: 1.62;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__section {
    width: 1280px;
    padding-top: 89px;
    padding-bottom: 120px;
  }
  .hero__container {
    margin-left: 16px;
    margin-right: 16px;
  }
  .hero__text {
    width: 688px;
    margin-bottom: 40px;
    font-size: 52px;
    line-height: 1.54;
  }
  .alphabet__text {
    font-size: 18px;
    line-height: 1.56;
  }
  .alphabet__button {
    width: 40px;
    height: 40px;
    font-size: 24px;
    line-height: 1.5;
  }
  .alphabet__list {
    width: 520px;
  }
}
.is-hidden {
  display: none;
}

.cocktails-title {
  margin-top: 0;
  margin-bottom: 60px;
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  line-height: 42px;
}
@media screen and (min-width: 768px) {
  .cocktails-title {
    font-weight: 700;
    font-size: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .cocktails-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
  }
}

.cocktails-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.list {
  list-style: none;
  padding: 0;
}

.cocktail-link {
  display: block;
  text-decoration: none;
}

.cocktail-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  max-height: 449px;
  background-color: inherit;
  text-align: center;
  border: 1px solid #FD5103;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .cocktail-card {
    width: 335px;
    max-height: 541px;
  }
}
@media screen and (min-width: 1280px) {
  .cocktail-card {
    width: 395px;
    max-height: 556px;
  }
}

.cocktail-picture {
  display: block;
  width: 100%;
  border-radius: 4px 4px 0px 0px;
}

.cocktail-label {
  overflow: hidden;
  height: 42px;
  max-width: 238px;
  margin-top: 48px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #202025;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
}
@media screen and (min-width: 768px) {
  .cocktail-label {
    height: 33px;
    margin-top: 20px;
    margin-bottom: 23px;
    font-size: 28px;
    line-height: 33px;
  }
}
@media screen and (min-width: 1280px) {
  .cocktail-label {
    height: 38px;
    margin-top: 20px;
    margin-bottom: 27px;
    font-size: 32px;
    line-height: 38px;
  }
}

.cocktail-card-btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 19px;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .cocktail-card-btn-wrapper {
    margin-bottom: 22px;
  }
}
@media screen and (min-width: 1280px) {
  .cocktail-card-btn-wrapper {
    margin-bottom: 28px;
  }
}

.learnMore {
  cursor: pointer;
  padding: 0;
  width: 108px;
  height: 39px;
  background: #FD5103;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.02em;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
@media screen and (min-width: 768px) {
  .learnMore {
    width: 160px;
    height: 48px;
    font-size: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .learnMore {
    width: 182px;
    height: 48px;
    font-size: 20px;
  }
}

.addTo {
  cursor: pointer;
  margin-bottom: 24px;
  padding: 0;
  width: 110px;
  height: 39px;
  border: 1px solid #FD5103;
  border-radius: 4px;
  background-color: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  color: #FD5103;
}
@media screen and (min-width: 768px) {
  .addTo {
    width: 123px;
    height: 48px;
    font-size: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .addTo {
    width: 141px;
    height: 48px;
    font-size: 20px;
  }
}

.no-cocktails__wrapper {
  display: flex;
  gap: 60px;
  flex-direction: column;
  align-items: center;
}

.no-cocktails__text {
  width: 280px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.91;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .no-cocktails__text {
    width: 331px;
    font-family: Roboto;
    font-size: 32px;
    line-height: 1.31;
  }
}
@media screen and (min-width: 768px) {
  .no-cocktails__text {
    font-weight: 700;
  }
}
@media screen and (min-width: 1280px) {
  .no-cocktails__text {
    width: 493px;
    font-size: 48px;
    line-height: 1.5;
  }
}

.removeFrom {
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: 9px;
  padding: 0;
  width: 110px;
  height: 39px;
  border: 1px solid #FD5103;
  border-radius: 4px;
  background-color: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  color: #FD5103;
}
@media screen and (min-width: 768px) {
  .removeFrom {
    width: 123px;
    height: 48px;
    font-size: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .removeFrom {
    width: 141px;
    height: 48px;
    font-size: 20px;
  }
}

.icon-heart {
  width: 19px;
  height: 17px;
  --color1: #fd5103;
}
@media screen and (min-width: 768px) {
  .icon-heart {
    width: 21px;
    height: 19px;
  }
}

.icon-heart-selected {
  width: 15px;
  height: 15px;
  --color1: #fd5103;
  --color2: #fd5103;
}
@media screen and (min-width: 768px) {
  .icon-heart-selected {
    width: 21px;
    height: 19px;
  }
}

body {
  margin: 0;
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 20px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 767px) {
  img {
    width: 280px;
  }
}
button {
  border-radius: 4px;
}

.fav-cocktails {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fav-cocktails__title {
  margin: 0;
  margin-bottom: 60px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.9090909091;
}

@media screen and (min-width: 768px) {
  .fav-cocktails__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.3125;
  }
}
@media screen and (min-width: 1280px) {
  .fav-cocktails__title {
    font-size: 48px;
    line-height: 1.5;
  }
}
.fav-cocktails__list {
  margin: 0;
  display: flex;
}

@media screen and (min-width: 200px) {
  .fav-cocktails__list {
    margin-bottom: 20px;
    width: 280px;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .fav-cocktails__list {
    margin-bottom: 60px;
    width: 702px;
    flex-direction: unset;
    flex-wrap: wrap;
    gap: 28.5px;
  }
}
@media screen and (min-width: 1280px) {
  .fav-cocktails__list {
    width: 1250px;
  }
}
.fav-cocktails__item {
  width: 280px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #FD5103;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .fav-cocktails__item {
    width: 335px;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1280px) {
  .fav-cocktails__item {
    width: 395px;
  }
}
.fav-cocktails__item-title {
  margin: 0;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
}

@media screen and (min-width: 768px) {
  .fav-cocktails__item-title {
    margin-bottom: 25px;
    font-size: 28px;
    line-height: 1.1785714286;
  }
}
@media screen and (min-width: 1280px) {
  .fav-cocktails__item-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.3125;
  }
}
.fav-cocktails__img {
  margin-bottom: 48px;
  border-radius: 3px 3px 0px 0px;
}

@media screen and (min-width: 768px) {
  .fav-cocktails__img {
    margin-bottom: 20px;
  }
}
.fav-cocktails__buttons {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

@media screen and (min-width: 1280px) {
  .fav-cocktails__buttons {
    margin-bottom: 28px;
  }
}
.fav-cocktails__learn-more-btn {
  width: 108px;
  height: 39px;
  background: #FE7031;
  border: none;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
}

@media screen and (min-width: 768px) {
  .fav-cocktails__learn-more-btn {
    width: 160px;
    height: 48px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1280px) {
  .fav-cocktails__learn-more-btn {
    width: 182px;
  }
}
.fav-cocktails__remove-btn {
  width: 108px;
  height: 39px;
  background-color: #FFFFFF;
  border: 1px solid #FE7031;
  color: #FD5103;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
}

@media screen and (min-width: 768px) {
  .fav-cocktails__remove-btn {
    width: 123px;
    height: 48px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1280px) {
  .fav-cocktails__remove-btn {
    width: 141px;
  }
}
body.modal-open {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #202025;
  opacity: 0, 5;
  z-index: 10;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: scroll;
  padding-top: 16px;
}

.modal-learn-more-container,
.modal-ingredients-container {
  max-width: 320px;
  height: auto;
  background-color: #FFFFFF;
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal-learn-more-container,
  .modal-ingredients-container {
    max-width: 822px;
  }
}

.modal-learn-more-container.modal-open {
  overflow: hidden;
}

.modal-close,
.modal-ingredient-close {
  position: absolute;
  background: transparent;
  border: none;
  top: 16px;
  right: 16px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-icon {
  fill: #000917;
}

.modal-layout-box {
  display: block;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal-layout-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal-layout-flex {
    display: flex;
    flex-direction: column-reverse;
    gap: 35px;
  }
}

.modal-header {
  font-family: inherit;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.19;
  color: #202025;
  margin-bottom: 20px;
  text-align: left;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal-header {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal-header.ingredient-header {
    text-align: left;
  }
}

.modal-sub-header {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.62;
  text-transform: uppercase;
  color: #202025;
  margin-bottom: 20px;
  text-align: left;
}

.modal-desc {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #5F6775;
  margin-bottom: 32px;
  text-align: left;
}

.modal-image {
  width: 280px;
  height: 280px;
  margin-bottom: 22px;
  display: block;
}

.modal-ingr-desk {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #000917;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 8px;
}

.modal-per-glass {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  color: #202025;
  text-align: left;
  margin-bottom: 8px;
}

.modal-ingredients-list {
  padding: 0;
  display: block;
  margin-bottom: 80px;
  margin-left: 12px;
}

.modal-learn-more-item,
.ingredient-list-item {
  list-style-type: "✶";
  color: #000917;
  text-align: left;
}

.modal-learn-more-data,
.ingredient-list-data {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  color: #5F6775;
  padding-bottom: 8px;
}

.ingredient-link {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  color: inherit;
}

.modal-learn-more-item:hover,
.modal-learn-more-item:focus,
.modal-learn-more-data:hover,
.modal-learn-more-data:focus {
  color: #FE7031;
}

.add-item-btn,
.remove-item-btn {
  text-align: center;
  padding: 12px 24px;
  float: left;
  background: #FD5103;
  border: 1px solid #FD5103;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  cursor: pointer;
  position: absolute;
  bottom: 40px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .add-item-btn,
  .remove-item-btn {
    float: right;
  }
}

.add-item-btn:hover,
.remove-item-btn:hover {
  color: #FD5103;
  background-color: #F5F5F5;
  border: 1px solid #F5F5F5;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: none;
}/*# sourceMappingURL=index.css.map */