@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

body {
  background-color: #FCFCFC;
  color: #202025;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 33px;
    padding-right: 33px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section__header {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.nav-menu {
  position: relative;
  display: inline-block;
}

.nav-menu__link {
  display: flex;
  gap: 2px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #202025;
  text-align: center;
}

.dropbtn {
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-menu__item {
  width: 210px;
}

.dropdown-menu__link {
  color: black;
  padding: 12px 35px 12px 12px;
  display: block;
}

.dropdown-menu__item:hover {
  background-color: #fd5103;
}

.dropdown-menu__item:hover .dropdown-menu__link {
  color: #FCFCFC;
}

.nav-menu__items {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  border: 1px solid #fd5103;
  background-color: #FCFCFC;
  border-radius: 4px;
  min-width: 160px;
  overflow: auto;
  left: 156px;
  top: 47px;
  z-index: 1;
}

.dropdown-menu.mobil {
  position: absolute;
  left: 0px;
  top: 90px;
  z-index: 1;
  background-color: inherit;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .dropdown-menu.mobil {
    top: 50%;
    left: 50%;
    transform: translate(-25%, 70%);
  }
}

.show {
  display: block;
}

.nav-menu__items {
  display: block;
}

.nav-menu__item {
  font-family: Poppins;
  font-size: 28px;
  line-height: 0.86;
  letter-spacing: 0.02em;
  padding: 0;
  color: #202025;
}

.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid #fd5103;
  border-radius: 4px;
  padding: 8px 0 8px 48px;
  outline: none;
  background-color: inherit;
}
.form__input::before {
  content: "";
  position: absolute;
  display: block;
  top: px;
  width: 20px;
  height: 10px;
  background-color: #fd5103;
}
.form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  color: #5f6775;
  opacity: 0.4;
}
.form__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  color: #5f6775;
  opacity: 0.4;
}
.form__input:focus-visible {
  border: 1px solid #fd5103;
}

.change-color__block {
  display: flex;
  position: relative;
}

.header__light,
.header__dark {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.13;
}

.header__light {
  color: #fd5103;
}

.switch {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;
  flex: none;
  flex-grow: 0;
  margin-left: 12px;
  margin-right: 12px;
}

.switch__input {
  width: 0;
  height: 0;
  opacity: 0;
}

.slider__round {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 20px;
  /* Grapefruit */
  border: 0.604701px solid #fd5103;
}

.slider__round::before {
  content: "";
  position: absolute;
  cursor: pointer;
  top: 1px;
  bottom: 0;
  left: 1px;
  right: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fd5103;
}

.switch__input:checked + .slider__round {
  background: #fd5103;
  border-radius: 20px;
  /* Grapefruit */
  border: 0.604701px solid #FCFCFC;
}

.switch__input:checked + .slider__round::before {
  background-color: #FCFCFC;
  transform: translateX(20px);
}

.search__form {
  position: relative;
  display: block;
  width: 280px;
  text-align: center;
  margin-left: auto;
  margin-right: 40px;
  margin-right: 172px;
}

.svg-icon__search {
  position: absolute;
  top: 9px;
  left: 10px;
  float: left;
  fill: #fd5103;
}

.svg-icon__line {
  position: absolute;
  top: 10px;
  left: 100px;
}

.form__input:not(:-moz-placeholder-shown) + .svg-icon__line {
  display: none;
}

.form__input:not(:placeholder-shown) + .svg-icon__line {
  display: none;
}

.search__btn {
  position: absolute;
  top: 0;
  right: 240px;
  cursor: pointer;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  fill: #fd5103;
  width: 40px;
  height: 40px;
  background-color: transparent;
  padding: 10px;
  border: inherit;
  border-right: 1px solid #fd5103;
}

.menu-mobile {
  border: none;
  background-color: transparent;
  width: 32px;
  height: 32px;
  padding: 0;
}
@media screen and (min-width: 1280px) {
  .menu-mobile {
    display: none;
  }
}

.burger__img {
  fill: inherit;
}

.logo__image {
  width: 123px;
  height: 34px;
}

.mob-menu__container.is-open {
  transform: translateX(0);
}

.mob-menu__container {
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 22px;
  z-index: 3;
  background-color: #FCFCFC;
  transform: translateX(100%);
  transition: 250ms;
}

.buttons__wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .section__header {
    max-width: 768px;
  }
}
.form__input:-moz-placeholder-shown::after {
  content: " ";
  width: 10px;
  height: 10px;
  display: block;
  background-color: black;
  position: absolute;
  top: 50px;
}
.form__input:placeholder-shown::after {
  content: " ";
  width: 10px;
  height: 10px;
  display: block;
  background-color: black;
  position: absolute;
  top: 50px;
}

@media screen and (max-width: 1279px) {
  .change-color__block.desc {
    display: none;
  }
  .nav-menu.desc {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .header__logo-tab {
    display: none;
  }
  .search__form {
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  .search__form.desc {
    display: none;
  }
  .nav-menu__item:first-child {
    margin-bottom: 22px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .nav-menu__item:first-child {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .search__form.desc {
    width: 288px;
  }
  .search__form.mob {
    display: none;
  }
  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    gap: 8px;
  }
  .search__btn {
    right: 248px;
  }
  .buttons__wrapper {
    margin-bottom: 50px;
  }
  .change-color__block {
    margin-right: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .header__container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .section__header {
    max-width: 1280px;
  }
  ul.nav-menu__items {
    display: flex;
    gap: 60px;
    margin-left: 43px;
    margin-top: 15px;
  }
}
body.js-bgcblack .form__input {
  color: #FCFCFC;
}

.hero__section {
  padding-top: 60px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.hero__text {
  font-family: Poppins;
  margin-top: 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.9;
  color: #fd5103;
  margin-bottom: 60px;
}

.select__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select__text-mob {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.02em;
  color: #202025;
  opacity: 0.8;
}

.select__button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 93px;
  height: 34px;
  color: #fd5103;
  border: 1px solid #fd5103;
  border-radius: 4px;
  padding-top: 5px;
  padding-right: 8px;
  padding-bottom: 5px;
  padding-left: 10px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.38;
}

.select__icon {
  fill: #fd5103;
}

.select__letter {
  font-family: Poppins;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.35;
}

.select__list {
  display: none;
  box-sizing: border-box;
  overflow: auto;
  list-style: none;
  margin: 0;
  padding-left: 0;
  width: 93px;
  height: 84px;
  border: 1px solid #fd5103;
  border-radius: 4px;
}

.select__list::-webkit-scrollbar {
  width: 3px;
}

.select__list::-webkit-scrollbar-track {
  border: 34px solid transparent;
  background-clip: content-box;
}

.select__list::-webkit-scrollbar-thumb {
  background: #fe7031;
  border: transparent;
  height: 44px;
  border-radius: 5px;
}

.select__item {
  font-family: Poppins;
  font-weight: 700;
  font-size: 10px;
  line-height: 1.5;
  padding-left: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #5f6775;
}

.select__list-open {
  display: block;
}

.alphabet__button {
  border: none;
  background-color: transparent;
  width: 24px;
  height: 25px;
  padding: 0;
  cursor: pointer;
  font-family: Poppins;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: #5f6775;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1), text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.alphabet__button:hover,
.alphabet__button:focus {
  color: #fd5103;
  scale: 1.2;
  text-shadow: 0px 4px 4px rgba(95, 103, 117, 0.25);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #5f6775;
}

.alphabet__text {
  display: block;
  margin-bottom: 40px;
  margin-top: 0;
  color: #202025;
  opacity: 0.8;
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
}

.alphabet__list {
  width: 324px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 480px) {
  .hero__section {
    width: 480px;
  }
}
@media screen and (max-width: 767px) {
  .alphabet__wrapper {
    display: none;
  }
  .hero__image {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .hero__section {
    width: 768px;
    padding-top: 77px;
    padding-bottom: 120px;
  }
  .select__wrapper {
    display: none;
  }
  .hero__container {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
  }
  .hero__text {
    width: 336px;
    font-weight: 600;
    font-size: 26px;
    line-height: 1.62;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__section {
    width: 1280px;
    padding-top: 89px;
    padding-bottom: 120px;
  }
  .hero__container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .hero__text {
    width: 688px;
    margin-bottom: 40px;
    font-size: 52px;
    line-height: 1.54;
  }
  .alphabet__text {
    font-size: 18px;
    line-height: 1.56;
  }
  .alphabet__button {
    width: 40px;
    height: 40px;
    font-size: 24px;
    line-height: 1.5;
  }
  .alphabet__list {
    width: 520px;
  }
}
.is-hidden {
  display: none;
}

.active {
  color: #FCFCFC;
  background-color: #fd5103;
  fill: #FCFCFC;
}

.cocktails-title {
  margin-top: 0;
  margin-bottom: 60px;
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  line-height: 42px;
}
@media screen and (min-width: 768px) {
  .cocktails-title {
    font-weight: 700;
    font-size: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .cocktails-title {
    font-size: 48px;
    line-height: 72px;
  }
}

.cocktails-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.cocktail-link {
  display: block;
  text-decoration: none;
}

.cocktail-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  max-height: 449px;
  background-color: inherit;
  text-align: center;
  border: 1px solid #fd5103;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .cocktail-card {
    width: 335px;
    max-height: 541px;
  }
}
@media screen and (min-width: 1280px) {
  .cocktail-card {
    width: 395px;
    max-height: 556px;
  }
}

.cocktail-card:hover,
.cocktail-card:focus {
  transform: scale(1.03);
}

.cocktail-picture {
  display: block;
  width: 100%;
  height: 280px;
  border-radius: 4px 4px 0px 0px;
}
@media screen and (min-width: 768px) {
  .cocktail-picture {
    height: 395px;
  }
}

.cocktail-label {
  overflow: hidden;
  height: 42px;
  max-width: 238px;
  margin-top: 48px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #202025;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
}
@media screen and (min-width: 768px) {
  .cocktail-label {
    height: 33px;
    margin-top: 20px;
    margin-bottom: 23px;
    font-size: 28px;
    line-height: 33px;
  }
}
@media screen and (min-width: 1280px) {
  .cocktail-label {
    height: 38px;
    margin-bottom: 27px;
    font-size: 32px;
    line-height: 38px;
  }
}

.js-bgcblack .cocktail-label {
  color: #FCFCFC;
}

.cocktail-card-btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 19px;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .cocktail-card-btn-wrapper {
    margin-bottom: 22px;
  }
}
@media screen and (min-width: 1280px) {
  .cocktail-card-btn-wrapper {
    margin-bottom: 28px;
  }
}

.learnMore {
  cursor: pointer;
  padding: 0;
  width: 108px;
  height: 39px;
  background: #fe7031;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: none;
  border-radius: 4px;
  letter-spacing: 0.02em;
  color: #FCFCFC;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .learnMore {
    width: 160px;
    height: 48px;
    font-size: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .learnMore {
    width: 182px;
  }
}

.learnMore:hover,
.learnMore:focus {
  background-color: #f5f5f5;
  color: #fe7031;
}

.learnMore:active {
  background-color: #fd5103;
  filter: none;
}

.addTo {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  padding: 0;
  width: 110px;
  height: 39px;
  border: 1px solid #fd5103;
  border-radius: 4px;
  background-color: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  color: #fd5103;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .addTo {
    width: 123px;
    height: 48px;
    font-size: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .addTo {
    width: 141px;
  }
}

.addTo:hover,
.addTo:focus {
  transform: scale(1.03);
}

.no-cocktails__wrapper {
  display: flex;
  gap: 60px;
  flex-direction: column;
  align-items: center;
}

.no-cocktails__text {
  width: 280px;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.91;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .no-cocktails__text {
    width: 331px;
    font-family: Roboto;
    font-size: 32px;
    line-height: 1.31;
  }
}
@media screen and (min-width: 768px) {
  .no-cocktails__text {
    font-weight: 700;
  }
}
@media screen and (min-width: 1280px) {
  .no-cocktails__text {
    width: 493px;
    font-size: 48px;
    line-height: 1.5;
  }
}

.removeFrom {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0;
  width: 110px;
  height: 39px;
  border: 1px solid #fd5103;
  border-radius: 4px;
  background-color: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  color: #fd5103;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .removeFrom {
    width: 123px;
    height: 48px;
    font-size: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .removeFrom {
    width: 141px;
  }
}

.removeFrom:hover,
.removeFrom:focus {
  transform: scale(1.03);
}

.icon-heart {
  width: 19px;
  height: 17px;
  --color1: #fd5103;
  fill: #FCFCFC;
}
@media screen and (min-width: 768px) {
  .icon-heart {
    width: 21px;
    height: 19px;
  }
}

.js-bgcblack .icon-heart {
  --color1: #fd5103;
  fill: #202025;
}

.icon-heart-selected {
  width: 15px;
  height: 15px;
  --color1: $main-color;
  fill: #fd5103;
}
@media screen and (min-width: 768px) {
  .icon-heart-selected {
    width: 21px;
    height: 19px;
  }
}

body.js-bgcblack .cocktail-label {
  color: #FCFCFC;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
@media screen and (min-width: 768px) {
  .pagination-list {
    gap: 14px;
  }
}
.pagination-arrow {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border-color: transparent;
  color: #D7D7D7;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .pagination-arrow {
    width: 60px;
    height: 40px;
    border: 1px solid #EAEBEA;
  }
}
.pagination-arrow:hover, .pagination-arrow:focus {
  color: #fe7031;
}
.pagination-icon {
  fill: currentColor;
}
.pagination-number {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #fe7031;
  border: 1px solid #EAEBEA;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .pagination-number {
    width: 40px;
    height: 40px;
  }
}
.pagination-number:hover, .pagination-number:focus {
  background-color: #fe7031;
  color: #FDFDFD;
}

.active {
  background-color: #fe7031;
  color: #202025;
}

.dot-item {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #fe7031;
  border: 1px solid #EAEBEA;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .dot-item {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .prew-button {
    margin-right: 108px;
  }
}
@media screen and (min-width: 1280px) {
  .prew-button {
    margin-right: 198px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .next-button {
    margin-left: 108px;
  }
}
@media screen and (min-width: 1280px) {
  .next-button {
    margin-left: 198px;
  }
}

.is-hiden {
  display: none;
}

.active {
  background-color: #fe7031;
  color: #FDFDFD;
}

.pading {
  padding-top: 24px;
}
@media screen and (min-width: 768px) {
  .pading {
    padding-top: 32px;
  }
}

body {
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 767px) {
  img {
    width: 280px;
  }
}
.fav-cocktails {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fav-cocktails__title {
  margin-top: 60px;
  margin-bottom: 60px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.9090909091;
}

@media screen and (min-width: 768px) {
  .fav-cocktails__title {
    margin-top: 70px;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.3125;
  }
}
@media screen and (min-width: 1280px) {
  .fav-cocktails__title {
    font-size: 48px;
    line-height: 1.5;
  }
}
.fav-cocktails__list {
  padding: 0;
  margin: auto;
  display: flex;
  list-style: none;
  gap: 20px;
}

@media screen and (min-width: 200px) {
  .fav-cocktails__list {
    margin-bottom: 20px;
    width: 280px;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .fav-cocktails__list {
    margin: 0;
    margin-bottom: 60px;
    width: 702px;
    flex-direction: unset;
    flex-wrap: wrap;
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .fav-cocktails__list {
    width: 1250px;
  }
}
.fav-cocktails__item {
  width: 280px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #fd5103;
  border-radius: 4px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.fav-cocktails__item:hover {
  transform: scale(1.05, 1.05);
}

@media screen and (min-width: 768px) {
  .fav-cocktails__item {
    width: 335px;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1280px) {
  .fav-cocktails__item {
    width: 395px;
  }
}
.fav-cocktails__item-title {
  max-height: 38px;
  margin: 0;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .fav-cocktails__item-title {
    margin-bottom: 25px;
    font-size: 28px;
    line-height: 1.1785714286;
  }
}
@media screen and (min-width: 1280px) {
  .fav-cocktails__item-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.3125;
  }
}
.fav-cocktails__img {
  margin-bottom: 48px;
  border-radius: 3px 3px 0px 0px;
}

@media screen and (min-width: 768px) {
  .fav-cocktails__img {
    margin-bottom: 20px;
  }
}
.fav-cocktails__buttons {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

@media screen and (min-width: 1280px) {
  .fav-cocktails__buttons {
    margin-bottom: 28px;
  }
}
.fav-cocktails__item {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .fav-nofav__cock,
  .fav-nofav__ingr {
    width: 239px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 20px;
    line-height: 3;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .fav-nofav__cock,
  .fav-nofav__ingr {
    width: 296px;
    height: 120px;
    font-size: 24px;
    line-height: 2.5;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1280px) {
  .fav-nofav__cock,
  .fav-nofav__ingr {
    width: 385px;
    height: 144px;
    font-size: 32px;
    line-height: 2.25;
    margin-left: auto;
    margin-right: auto;
  }
}

body.js-bgcblack .fav-cocktails__title,
body.js-bgcblack .fav-cocktails__item-title {
  color: #FCFCFC;
}

body {
  margin: 0;
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 20px;
}

button {
  border-radius: 4px;
}

.fav-ingr {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fav-ingr__title {
  margin-top: 60px;
  margin-bottom: 60px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.9090909091;
}

@media screen and (min-width: 768px) {
  .fav-ingr__title {
    margin-top: 70px;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.3125;
  }
}
@media screen and (min-width: 1280px) {
  .fav-ingr__title {
    font-size: 48px;
    line-height: 1.5;
  }
}
.fav-ingr__list {
  margin: auto;
  padding: 0;
  display: flex;
  gap: 20px;
  list-style: none;
}

@media screen and (min-width: 200px) {
  .fav-ingr__list {
    margin-bottom: 20px;
    width: 280px;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .fav-ingr__list {
    margin: 0;
    margin-bottom: 60px;
    width: 702px;
    flex-direction: unset;
    flex-wrap: wrap;
    gap: 28.5px;
  }
}
@media screen and (min-width: 1280px) {
  .fav-ingr__list {
    width: 1250px;
  }
}
.fav-ingr__item {
  width: 280px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #fd5103;
  border-radius: 4px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.fav-ingr__item:hover {
  transform: scale(1.05, 1.05);
}

@media screen and (min-width: 768px) {
  .fav-ingr__item {
    width: 335px;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1280px) {
  .fav-ingr__item {
    width: 395px;
  }
}
.fav-ingr__item-title {
  margin: 20px 0px 20px 20px;
  max-height: 38px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .fav-ingr__item-title {
    margin-bottom: 28px;
    font-size: 28px;
    line-height: 1.1785714286;
  }
}
@media screen and (min-width: 1280px) {
  .fav-ingr__item-title {
    margin: 28px 0px 28px 28px;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.3125;
  }
}
.fav-ingr__type {
  margin-bottom: 20px;
  margin-left: 20px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  color: #5f6775;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .fav-ingr__type {
    margin-bottom: 28px;
    font-size: 16px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1280px) {
  .fav-ingr__type {
    margin: 0px 0px 28px 28px;
  }
}
.fav-ingr__buttons {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

@media screen and (min-width: 1280px) {
  .fav-ingr__buttons {
    margin-bottom: 28px;
  }
}
body.js-bgcblack .fav-ingr__item-title {
  color: #FCFCFC;
}

body.js-bgcblack .fav-ingr__type {
  color: #5f6775;
}

body.modal-open {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(32, 32, 37, 0.5);
  opacity: 1;
  z-index: 10;
  padding-top: 16px;
  overflow: auto;
}

hr {
  display: none;
}
@media screen and (min-width: 768px) {
  hr {
    display: block;
    border: 1px solid #fd5103;
  }
}

.modal-learn-more-container,
.modal-ingredients-container {
  max-width: 320px;
  height: auto;
  background-color: #FCFCFC;
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  opacity: 1;
  z-index: 20;
  box-shadow: 6px 6px 30px 6px #202025;
}
@media screen and (min-width: 768px) {
  .modal-learn-more-container,
  .modal-ingredients-container {
    max-width: 822px;
  }
}

.modal-close,
.modal-ingredient-close {
  position: absolute;
  background: transparent;
  border: none;
  top: 16px;
  right: 16px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-icon {
  fill: #000917;
}
.close-icon:hover {
  fill: #fd5103;
}

.modal-layout-box {
  display: block;
}
@media screen and (min-width: 768px) {
  .modal-layout-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 32px;
  }
}

@media screen and (min-width: 768px) {
  .modal-layout-flex {
    display: flex;
    flex-direction: column-reverse;
    gap: 35px;
  }
}

.modal-header {
  font-family: inherit;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.19;
  color: #202025;
  margin-bottom: 20px;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .modal-header {
    position: absolute;
    top: 40px;
    left: 312px;
  }
}

@media screen and (min-width: 768px) {
  .modal-header.ingredient-header {
    position: static;
    text-align: center;
  }
}

.modal-sub-header {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.62;
  text-transform: uppercase;
  color: #202025;
  margin-bottom: 20px;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .modal-sub-header.ingredient-sub-header {
    display: block;
  }
}

.modal-desc {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #5f6775;
  margin-bottom: 80px;
  text-align: left;
}

.modal-image {
  width: 280px;
  height: 280px;
  margin-bottom: 22px;
  display: block;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .modal-image {
    max-width: 288px;
    position: absolute;
    top: 0px;
    left: 0px;
  }
}

@media screen and (min-width: 768px) {
  .modal-ingr-box {
    position: absolute;
    top: 126px;
    left: 312px;
  }
}

@media screen and (min-width: 768px) {
  .modal-instraction-box {
    position: relative;
    margin-top: 282px;
  }
}

.modal-ingr-desk {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #000917;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 8px;
}

.modal-per-glass {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  color: #202025;
  text-align: left;
  margin-bottom: 8px;
}

.modal-ingredients-list {
  padding: 0;
  display: block;
  margin-bottom: 80px;
  margin-left: 12px;
}
@media screen and (min-width: 768px) {
  .modal-ingredients-list {
    margin-bottom: 0;
    padding-left: 12px;
  }
}

@media screen and (min-width: 768px) {
  .list-scroll {
    height: 110px;
    width: 400px;
    overflow: auto;
  }
}

@media screen and (min-width: 768px) {
  .ingredients-list.modal-ingredients-list,
  .modal-desc.ingredient-desc {
    display: block;
  }
}

.modal-learn-more-item,
.ingredient-list-item {
  list-style-type: "✶";
  color: #000917;
  text-align: left;
  padding-left: 5px;
}

.modal-learn-more-data,
.ingredient-list-data {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  color: #5f6775;
  padding-bottom: 8px;
}

.backdrop .ingredient-link {
  color: #5f6775;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
}
.backdrop .ingredient-link:hover {
  color: #fd5103;
}

.modal-learn-more-item:hover,
.modal-learn-more-data:hover {
  color: #fe7031;
}

.modal-learn-more-item:hover .ingredient-link {
  color: #fe7031;
}

.add-item-btn,
.remove-item-btn {
  text-align: center;
  padding: 12px 24px;
  float: left;
  background: #fd5103;
  border: 1px solid #fd5103;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #FCFCFC;
  cursor: pointer;
  position: absolute;
  bottom: 40px;
}
.add-item-btn:hover,
.remove-item-btn:hover {
  color: #fd5103;
  background-color: #f5f5f5;
  border: 1px solid #fd5103;
}
@media screen and (min-width: 768px) {
  .add-item-btn,
  .remove-item-btn {
    position: absolute;
    bottom: 28px;
    right: 28px;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: none;
}

body.js-bgcblack .modal-learn-more-container,
body.js-bgcblack .modal-ingredients-container {
  background-color: #202025;
  box-shadow: 6px 6px 30px 6px #fd5103;
}

body.js-bgcblack .modal-header,
body.js-bgcblack .modal-sub-header,
body.js-bgcblack .modal-desc,
body.js-bgcblack .modal-ingr-desk,
body.js-bgcblack .modal-per-glass,
body.js-bgcblack .modal-ingredients-list,
body.js-bgcblack .modal-learn-more-data,
body.js-bgcblack .modal-learn-more-item {
  color: #FCFCFC;
}

body.js-bgcblack .modal-learn-more-data:hover,
body.js-bgcblack .modal-learn-more-item:hover {
  color: #fd5103;
}

@media screen and (min-width: 768px) {
  body.js-bgcblack .modal-desc,
  body.js-bgcblack .modal-ingredients-list,
  body.js-bgcblack .modal-learn-more-data,
  body.js-bgcblack .modal-learn-more-item {
    color: #BDBDBD;
  }
}

body.js-bgcblack .modal-learn-more-item,
body.js-bgcblack .ingredient-list-item {
  color: #FCFCFC;
}

body.js-bgcblack .close-icon {
  fill: #FCFCFC;
}
body.js-bgcblack .close-icon:hover {
  fill: #fd5103;
}

body.js-bgcblack .add-item-btn:hover,
body.js-bgcblack .remove-item-btn:hover {
  background-color: #202025;
}

body.js-bgcblack .backdrop .ingredient-link {
  color: #FCFCFC;
}
body.js-bgcblack .backdrop .ingredient-link:hover {
  color: #fd5103;
}
@media screen and (min-width: 768px) {
  body.js-bgcblack .backdrop .ingredient-link {
    color: #BDBDBD;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #fd5103;
  border-radius: 10px;
  height: 100px;
}

footer {
  height: 110px;
  background-color: #fd5103;
  margin-top: 60px;
}

.js-colorwhite {
  color: #FCFCFC;
  border-color: #FCFCFC;
  fill: #FCFCFC;
}

.js-colororange {
  color: #fd5103;
}

.js-colorgray {
  color: #5f6775;
}

.js-bgcblack {
  background-color: #202025;
}/*# sourceMappingURL=index.css.map */