@mixin mobileMin {
    @media screen and (max-width: 479px) {
        @content;
    }
}
@mixin mobile {
    @media screen and (min-width: 480px) and (max-width: 767px) {
        @content;
    }
}
@mixin mobileMax {
    @media screen and (max-width: 767px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        @content;
    }
}
@mixin tabletPlus {
    @media screen and (min-width: 768px)  {
        @content;
    }
}
@mixin desktop {
    @media screen and (min-width: 1280px) {
            @content;
    }
}

@mixin retina { 
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        @content;
    }
}