$accent: #fd5103;
$main-color: #fd5103;
$main-color2: #202025;
$main-color3: #FCFCFC;
$main-button: #fe7031;
$input_plholder: #5f6775;
$shadow-color:rgba(95, 103, 117, 0.25);
$shadow-color1:rgba(50, 50, 93, 0.25);
$shadow-color2:rgba(0, 0, 0, 0.3);
$fill-color:#000917;
$bgr-color:#f5f5f5;
$border-color:#EAEBEA;
$border-color1:#D7D7D7;
$border-color2:#FDFDFD;
$modal-color:#BDBDBD;
