<header class="section__header">
  <div class="container header__container">
    <a class="header__logo" href="#">
      <img src="./images/img/logo-1x-min.png" alt="cocktails logo" class="logo__image" />
    </a>
    <nav class="">
      <a class="" href="#">Home</a>
      <a class="">Favorite</a>
      <ul class="is-hidden">
        <li class="">
          <a href="#">Favorite cocktails</a>
        </li>
        <li class="">
          <a href="#">Favorite ingredients</a>
        </li>
      </ul>
    </nav>
    <form class="">
      <input
        placeholder="Search"
        name="input"
        class="form__input"
        type="text"
      />
      <button class="" type="submit">
        <svg class="" width="18px" height="18px">
          <use href="#"></use>
        </svg>
      </button>
    </form>
    <button type="button" class="">
      <svg class="" width="47px" height="39px">
        <use href="#"></use>
      </svg>
    </button>
    <button
      class=""
      type="button"
    >
    </button>
    <div class="">
      <span class="header__light">Light</span>
      <label class="switch">
        <input data-switcher-desktop type="checkbox" />
        <span class="slider round"></span>
      </label>
      <span class="header__dark">Dark</span>
    </div>
  </div>
</header>
