<header class="section__header">
  <div class="header__container">
    <a class="header__logo" href="./index.html">
      <img
        src="./images/img/logo-1x-min.png"
        alt="cocktails logo"
        class="logo__image"
      />
    </a>
    <nav class="nav-menu desc">
      <ul class="nav-menu__items list menu-dropdown">
        <li class="nav-menu__item">
          <a class="nav-menu__link js-changeclrwh" href="./index.html">Home</a>
        </li>
        <li class="nav-menu__item dropbtn">
          <a class="nav-menu__link js-changeclrwh loadCocktails">Favorite</a>
        </li>
      </ul>
      <ul
        class="dropdown-menu js-changeclrwh list js-dropdown-menu js-changebgrclr"
      >
        <li class="dropdown-menu__item">
          <a class="dropdown-menu__link js-changeclrwh" href="./cocktails.html"
            >Favorite cocktails</a
          >
        </li>
        <li class="dropdown-menu__item">
          <a
            class="dropdown-menu__link js-changeclrwh"
            href="./ingredients.html"
            >Favorite ingredients</a
          >
        </li>
      </ul>
    </nav>
    <form class="search__form desc">
      <input
        placeholder="Search"
        name="searchQuery"
        class="form__input js-changebgrclr"
        type="text"
      />
      <svg class="svg-icon__line" width="2" height="20">
        <use href="./images/svg/symbol-defs.svg#icon-line"></use>
      </svg>
      <button class="search__btn" type="submit">
        <svg class="svg-icon__search" width="24" height="24">
          <use href="./images/svg/symbol-defs.svg#search"></use>
        </svg>
      </button>
    </form>
    <a id="js-sign-out" href="#" class="invisible desc">Sign out</a>
    <button class="auth-btn desc" id="googleAuthBtn"></button>
    <div class="change-color__block desc">
      <span class="header__light js-changeclrwh">Light</span>
      <label class="switch">
        <input class="switch__input" id="js-checkbox" type="checkbox" />
        <span class="slider__round"></span>
      </label>
      <span class="header__dark js-changeclror">Dark</span>
    </div>
    <button
      class="menu-mobile js-open-menu js-changeclrwh"
      type="button"
      aria-controls="mobile-menu"
      aria-expanded="false"
    >
      <svg class="burger__img" width="30" height="16">
        <use href="./images/svg/symbol-defs.svg#burger-menu"></use>
      </svg>
    </button>
    <div class="mob-menu__container js-menu-container" id="mobile-menu">
      <div class="buttons__wrapper">
        <button class="menu-mobile js-close-menu js-changeclrwh" type="button">
          <svg class="burger__img" width="32" height="32">
            <use href="./images/svg/symbol-defs.svg#close-modal"></use>
          </svg>
        </button>
        <div class="change-color__block">
          <span class="header__light js-changeclrwh">Light</span>
          <label class="switch">
            <input
              class="switch__input"
              id="js-checkbox-burger"
              type="checkbox"
            />
            <span class="slider__round"></span>
          </label>
          <span class="header__dark js-changeclror">Dark</span>
        </div>
        <a class="header__logo-tab" href="./index.html">
          <img
            src="./images/img/logo-1x-min.png"
            alt="cocktails logo"
            class="logo__image"
          />
        </a>
      </div>
      <form class="search__form mob">
        <input
          placeholder="Search"
          name="searchQuery"
          class="form__input"
          type="text"
        />
        <button class="search__btn burger" type="submit">
          <svg class="svg-icon__search" width="24" height="24">
            <use href="./images/svg/symbol-defs.svg#search"></use>
          </svg>
        </button>
      </form>
      <nav class="nav-menu">
        <ul class="nav-menu__items list menu-dropdown">
          <li class="nav-menu__item">
            <a class="nav-menu__link js-changeclrwh" href="./index.html"
              >Home</a
            >
          </li>

          <li class="nav-menu__item dropbtn-mob">
            <a class="nav-menu__link js-changeclrwh loadCocktails"
              >Favorite
              <svg class="fav-icon js-changeclrwh" width="24" height="24">
                <use href="./images/svg/symbol-defs.svg#down-arrow"></use>
              </svg>
            </a>
          </li>
        </ul>
        <ul
          class="dropdown-menu mobil js-changeclrwh list js-changebgrclr js-dropdown-menu-mob"
        >
          <li class="dropdown-menu__item">
            <a
              class="dropdown-menu__link js-changeclrwh"
              href="./cocktails.html"
              >Favorite cocktails</a
            >
          </li>
          <li class="dropdown-menu__item">
            <a
              class="dropdown-menu__link js-changeclrwh"
              href="./ingredients.html"
              >Favorite ingredients</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
