<header class="section__header">
  <div class="container header__container">
    <a class="header__logo" href="#">
      <img
        src="./images/img/logo-1x-min.png"
        alt="cocktails logo"
        class="logo__image"
      />
    </a>
    <nav class="nav-menu">
      <ul class="nav-menu__items list menu-dropdown">
        <li class="nav-menu__item">
          <a class="js-change-color" href="/">Home</a>
        </li>
        <li class="nav-menu__item dropbtn">
          <a class="js-change-color">Favorite</a>
        </li>
      </ul>
      <ul class="is-hidden list">
        <li class="dropdown-menu__item">
          <a class="dropdown-menu__link" href="#">Favorite cocktails</a>
        </li>
        <li class="dropdown-menu__item ">
          <a class="dropdown-menu__link" href="#">Favorite ingredients</a>
        </li>
      </ul>
    </nav>
    <form class="search-form">
      <input
        placeholder="Search"
        name="input"
        class="form__input"
        type="text"
      />
      <button class="" type="submit">
        <svg class="" width="18px" height="18px">
          <use href="#"></use>
        </svg>
      </button>
    </form>
    <div class="change-color__block">
      <span class="header__light">Light</span>
      <label class="switch">
        <input class="switch__input" id="js-checkbox" type="checkbox" />
        <span class="slider__round"></span>
      </label>
      <span class="header__dark changeColorWh">Dark</span>
    </div>
  </div>
</header>
