<section class="hero__section">
  <div class="hero__container">
    <div class="hero__wrapper">
      <p class="hero__text">
        A party without cocktails<br />
        is not like a party
      </p>
      <div class="alphabet__wrapper">
        <p class="alphabet__text js-changeclrwh">
          Search your favorite cocktail by ABC
        </p>
        <div id="alphabet" class="alphabet__list">
          <button type="button" class="alphabet__button">A</button>
          <button type="button" class="alphabet__button">B</button>
          <button type="button" class="alphabet__button">C</button>
          <button type="button" class="alphabet__button">D</button>
          <button type="button" class="alphabet__button">E</button>
          <button type="button" class="alphabet__button">F</button>
          <button type="button" class="alphabet__button">G</button>
          <button type="button" class="alphabet__button">H</button>
          <button type="button" class="alphabet__button">I</button>
          <button type="button" class="alphabet__button">J</button>
          <button type="button" class="alphabet__button">K</button>
          <button type="button" class="alphabet__button">L</button>
          <button type="button" class="alphabet__button">M</button>
          <button type="button" class="alphabet__button">N</button>
          <button type="button" class="alphabet__button">O</button>
          <button type="button" class="alphabet__button">P</button>
          <button type="button" class="alphabet__button">Q</button>
          <button type="button" class="alphabet__button">R</button>
          <button type="button" class="alphabet__button">S</button>
          <button type="button" class="alphabet__button">T</button>
          <button type="button" class="alphabet__button">U</button>
          <button type="button" class="alphabet__button">V</button>
          <button type="button" class="alphabet__button">W</button>
          <button type="button" class="alphabet__button">X</button>
          <button type="button" class="alphabet__button">Y</button>
          <button type="button" class="alphabet__button">Z</button>
          <button type="button" class="alphabet__button">1</button>
          <button type="button" class="alphabet__button">2</button>
          <button type="button" class="alphabet__button">3</button>
          <button type="button" class="alphabet__button">4</button>
          <button type="button" class="alphabet__button">5</button>
          <button type="button" class="alphabet__button">6</button>
          <button type="button" class="alphabet__button">7</button>
          <button type="button" class="alphabet__button">8</button>
          <button type="button" class="alphabet__button">9</button>
          <button type="button" class="alphabet__button">0</button>
        </div>
      </div>
    </div>
    <picture>
      <source
        srcset="
          ./images/img/cocktail-hero-desktop-1x-min.png 1x,
          ./images/img/cocktail-hero-desktop-2x-min.png 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/img/cocktail-hero-tablet-1x-min.png 1x,
          ./images/img/cocktail-hero-tablet-2x-min.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/img/cocktail-hero-mobile-1x-min.png 1x,
          ./images/img/cocktail-hero-mobile-2x-min.png 2x
        "
        media="(max-width: 767px)"
      />
      <img
        src="./images/img/cocktail-hero-desktop-1x-min.png"
        alt="fresh fruit cocktail with fresh fruit"
        class="hero__image"
      />
    </picture>
    <div class="select__wrapper">
      <p class="select__text-mob">Search your favorite cocktail by ABC</p>
      <div id="select__btn" class="select__button">
        <span class="select__letter">A</span>
        <svg class="select__icon" width="24" height="24">
          <use href="./images/svg/symbol-defs.svg#down-arrow"></use>
        </svg>
      </div>
      <ul id="select__menu" class="select__list list">
        <li class="select__item">A</li>
        <li class="select__item">B</li>
        <li class="select__item">C</li>
        <li class="select__item">D</li>
        <li class="select__item">E</li>
        <li class="select__item">F</li>
        <li class="select__item">G</li>
        <li class="select__item">H</li>
        <li class="select__item">I</li>
        <li class="select__item">J</li>
        <li class="select__item">K</li>
        <li class="select__item">L</li>
        <li class="select__item">M</li>
        <li class="select__item">N</li>
        <li class="select__item">O</li>
        <li class="select__item">P</li>
        <li class="select__item">Q</li>
        <li class="select__item">R</li>
        <li class="select__item">S</li>
        <li class="select__item">T</li>
        <li class="select__item">U</li>
        <li class="select__item">V</li>
        <li class="select__item">W</li>
        <li class="select__item">X</li>
        <li class="select__item">Y</li>
        <li class="select__item">Z</li>
        <li class="select__item">1</li>
        <li class="select__item">2</li>
        <li class="select__item">3</li>
        <li class="select__item">4</li>
        <li class="select__item">5</li>
        <li class="select__item">6</li>
        <li class="select__item">7</li>
        <li class="select__item">8</li>
        <li class="select__item">9</li>
        <li class="select__item">0</li>
      </ul>
    </div>
  </div>
</section>
