<section class="modal-learn-more">
  <div class="backdrop is-hidden " data-modal>
    <div class="modal-learn-more-container container">
      <button type="submit" class="modal-close" data-modal-close></button>
      <div class="gallery"></div>
    </div>
  </div>
</section>

<section class="modal-ingredient">
  <div class="backdrop is-hidden container" data-modal-2>
    <div class="modal-ingredients-container modal">
      <button type="submit" class="modal-close" data-modal-close-2>
        <svg class="close-icon" width="18px" height="18px"><use href="/src/images/svg/symbol-defs.svg#close-modal"></use></svg>
      </button>
      <div class="content"></div>
    </div>
    </div>
  </div>
</section>