<div class="pagination container">
  <button
    disabled="true"
    class="pagination-arrow prew-button is-hiden"
    type="button"
  >
    <svg class="pagination-icon" width="24px" height="24px">
      <use href="./images/svg/symbol-defs.svg#left-arrow"></use>
    </svg>
  </button>
  <ul class="pagination-list"></ul>
  <button
    disabled="true"
    class="pagination-arrow next-button is-hiden"
    type="button"
  >
    <svg class="pagination-icon" width="24px" height="24px">
      <use href="./images/svg/symbol-defs.svg#right-arrow"></use>
    </svg>
  </button>
</div>
