<div class="pagination container">
    <button disabled="true" class="pagination-arrow prew-button is-hiden" type="button">
        <svg class="pagination-icon"width="24px" height="24px"><use href="./images/svg/symbol-defs.svg#left-arrow"></use></svg>
    </button>
    <ul class="pagination-list">
        <!-- <li class="pagination-item"><button class="pagination-number is-hiden" type="button">1</button></li> -->
        <!-- <li class="pagination-item"><button class="pagination-number" type="button">2</button></li>
        <li class="pagination-item"><button class="pagination-number" type="button">3</button></li>
        <li class="pagination-item dot-item"><span>...</span></li>
        <li class="pagination-item"><button class="pagination-number" type="button">11</button></li>
        <li class="pagination-item"><button class="pagination-number" type="button">12</button></li>
        <li class="pagination-item"><button class="pagination-number" type="button">13</button></li> -->
    </ul>
    <button disabled="true" class="pagination-arrow next-button is-hiden" type="button">
        <svg class="pagination-icon" width="24px" height="24px"><use href="./images/svg/symbol-defs.svg#right-arrow"></use></svg>
    </button>
</div>