.container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    @media screen and (min-width: 480px) {
      width: 480px;
    }
    @media screen and (min-width: 768px) {
      width: 768px;
      padding-left: 33px;
      padding-right: 33px;
    }
    @media screen and (min-width: 1280px) {
      width: 1280px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }