.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  @include mobileMin {
    width: 480px;
  }
  @include tabletPlus {
    width: 768px;
    padding-left: 33px;
    padding-right: 33px;
  }
  @include desktop {
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
