.section__header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  max-width: 480px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.nav-menu {
  // float: right;
  position: relative;
  display: inline-block;
}
.nav-menu__link {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #202025;
}

.dropbtn {
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.menu-dropdown:hover + .dropdown-menu {
}
.dropdown-menu__item {
  width: 210px;
}
.dropdown-menu__link {
  color: black;
  padding: 12px 35px 12px 12px;
  display: block;
}
.dropdown-menu__item:hover {
  background-color: #fd5103;
}
.dropdown-menu__item:hover .dropdown-menu__link {
  color: #ffffff;
}

.dropdown-menu {
  display: none;
  position: absolute;
  border: 1px solid #fd5103;
  background-color: #ffffff;
  border-radius: 4px;
  min-width: 160px;
  overflow: auto;
  left: 118px;
  z-index: 1;
}
.show {
  display: block;
}

.nav-menu__item {
  font-family: Poppins;
  font-size: 28px;
  line-height: 0.86;
  letter-spacing: 0.02em;
  padding: 0;
  color: #000000;
}

.header-section__box {
  display: none;
  display: flex;
  align-items: center;
}

.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid #fd5103;
  border-radius: 4px;
  padding: 8px 0 8px 48px;
  outline: none;
  // margin-bottom: 40px;

  &::before {
    content: '';
    position: absolute;
    display: block;
    top: px;
    width: 20px;
    height: 10px;
    background-color: #fd5103;
  }
  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.02em;
    color: #5f6775;
    opacity: 0.4;
    // padding-left: 48px;
  }
  &:focus-visible {
    border: 1px solid #fd5103;
  }
}

.change-color__block {
  display: flex;
  position: relative;
  // margin-right: 80px;
}

.switch {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;
  /* Inside auto layout */
  flex: none;
  // order: 1;
  flex-grow: 0;
  margin-left: 12px;
  margin-right: 12px;
}
.switch__input {
  width: 0;
  height: 0;
  opacity: 0;
}
.slider__round {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  border-radius: 20px;
  /* Grapefruit */
  border: 0.604701px solid #fd5103;
}
.slider__round::before {
  content: '';
  position: absolute;
  cursor: pointer;
  top: 1px;
  bottom: 0;
  left: 1px;
  right: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;

  background-color: #fd5103;
}
.switch__input:checked + .slider__round {
  background: #fd5103;
  border-radius: 20px;
  /* Grapefruit */
  border: 0.604701px solid #ffffff;
}

.switch__input:checked + .slider__round::before {
  background-color: #ffffff;
  transform: translateX(20px);
}
.search__form {
  position: relative;
  width: 280px;
  text-align: center;
  margin-left: auto;
  margin-right: 40px;
}
.svg-icon__search {
  float: left;

  fill: #fd5103;
}

.search__btn {
  position: absolute;
  top: 0;
  right: 240px;
  width: 40px;
  height: 40px;
  background-color: inherit;
  padding: 10px;
  border: inherit;
  border-right: 1px solid #fd5103;
}

.menu-mobile {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  border: none;
  background-color: transparent;
  width: 32px;
  height: 32px;
  padding: 0;

  @include desktop {
    display: none;
  }
}

.burger__img {
  fill: inherit;
}

.logo__image {
  width: 123px;
  height: 34px;
}

.mob-menu__container.is-open {
  transform: translateX(0);
}
.mob-menu__container {
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 22px;
  z-index: 3;
  background-color: #fff;
  transform: translateX(100%);
  transition: 250ms;
}

.buttons__wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .header__container {
    max-width: 768px;
  }
}

@media screen and (max-width: 1279px) {
  .change-color__block.desc {
    display: none;
  }

  .nav-menu.desc {
    display: none;
  }
}

@include mobileMax {
  .header__logo-tab {
    display: none;
  }

  .search__form {
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  .search__form.desc {
    display: none;
  }
  .nav-menu__item:first-child {
    margin-bottom: 22px;
  }
}

@include tablet {
  .nav-menu__item:first-child {
    margin-bottom: 32px;
  }
}
@include tabletPlus {
  .search__form.desc {
    width: 288px;
  }

  .search__form.mob {
    display: none;
  }
  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    gap: 8px;
  }

  .search__btn {
    right: 248px;
  }

  .buttons__wrapper {
    margin-bottom: 50px;
  }

  .change-color__block {
    margin-right: 40px;
  }
}
@include desktop {
  .header__container {
    max-width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }

  ul.nav-menu__items {
    display: flex;
    gap: 60px;
    margin-left: 43px;
    margin-top: 15px;
  }

  .nav-menu__item {
    gap: 60px;
  }
}
