.js-colorwhite {
  color: $main-color3;
  border-color: $main-color3;
  Fill: $main-color3;
}
.js-colororange {
  color: $main-color;
}
.js-colorgray {
  color: $input_plholder;
}
.js-bgcblack {
  background-color: $main-color2;
}
